/*************************************************
Copyright © 2021 Ennio Marke
 ____    ____  ____  ____   ______   _________  
|_   \  /   _||_  _||_  _|.' ____ \ |  _   _  | 
  |   \/   |    \ \  / /  | (___ \_||_/ | | \_| 
  | |\  /| |     \ \/ /    _.____`.     | |     
 _| |_\/_| |_    _|  |_   | \____) |   _| |_    
|_____||_____|  |______|   \______.'  |_____| 
STEEL GRAY
Dark shades
Use as the text color for dark-on-light designs, or as the background for inverted designs.
#221B2F


JAGGED ICE
Light shades
Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
#CDE3EE

JAFFA
Dark accent
Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
#EE944D


PINK SALMON
Light accent
Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
#FF8AB1


CORNFLOWER
Main brand color
This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
#8EB7E6
*************************************************/

:root {
  --bg-color: #cde3ee;
  --text-color: #221b2f;
  --heading-color: #ee944d;
  --header-color: #8eb7e6;
  --text-color-2: #ff8ab1;
  --dark-shade: #b8ccd6;
  --gray-color: #aeaeae;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans",
    "-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji";
  color: var(--text-color);
}

body {
  overflow-y: scroll;
  background: var(--bg-color);
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  width: 80vw;
  max-width: 800px;
}

img {
  width: 100%;
  height: auto;
}

a {
  position: relative;
  color: var(--header-color);
  text-decoration: none;
}

a:hover {
  color: var(--header-color);
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--header-color);
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
}

hr {
  /*As wide as parent, text color 2, round corners*/
  width: 100%;
  height: 2px;
  background-color: var(--text-color-2);
}

.hide {
  display: none !important;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

#header {
  position: relative;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vmin;
}

#heading {
  padding: 24px 0 24px 0;
}

.ce-block__content,
.ce-toolbar__content {
  max-width: 100% !important;
}
.cdx-block {
  max-width: 100% !important;
}

#search {
  width: 100%;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  background: transparent;
  backdrop-filter: saturate(80%);
  border: 2px solid var(--text-color);
  border-radius: 10px;
  outline: none;
  transition: border 0.2s ease-out, outline 0.1s ease-out;
}

#search:hover,
#search:focus {
  border: 2px solid var(--text-color-2);
}

#search:focus {
  outline: 2px solid white;
  outline-offset: 1px;
}

#posts {
  margin-bottom: 3rem;
}

#postDate {
  color: #555;
}

#postHeading {
  font-size: 6vmin;
}

#postTags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.post-tag {
  height: 2rem;
  width: 5rem;
  border: 1px solid var(--text-color-2);
  border-radius: 0.25em;
  margin-top: 0.5em;
  margin-bottom: 0.875em;
  margin-right: 0.25em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#postContent {
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}

#postContent > * {
  margin-top: 1rem;
}

.verticalLine {
  height: 90%;
  width: 2px;
  background-color: var(--text-color-2);
  margin: 0 1.25rem;
}

.newCommentWrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profilePictureWrapper {
  height: 2.5rem;
  width: 2.5rem;
  min-width: 2.5rem;
  border-radius: 100%;
  margin-right: 1rem;
  display: inline-block;
  overflow: hidden;
}

.profilePicture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 100%;
  transform: scale(1.1);
}

.newCommentInput {
  width: 100%;
  max-height: 6.8125rem !important;
  background: transparent;
  border: 0;
  border-bottom: 2px solid black;
  padding: 0.5rem;
  font-size: 1.25rem;
  resize: none;
}

.newCommentInput:focus {
  outline: none;
}

.sendCommentWrapper {
  margin: 0 0.75rem;
  justify-self: center;
  border-radius: 0.25rem;
  background-color: var(--dark-shade);
}

.sendComment {
  padding: 0.5rem 1rem;
  color: var(--text-color);
  border: 2.5px solid var(--text-color-2);
  background-color: var(--bg-color);
  border-radius: 0.25rem;
  transition: transform 0.3s;
  transform: translate(-6px, -6px);
  cursor: pointer;
}

.sendComment:hover {
  border: 2.5px solid var(--text-color-2);
  transform: translate(0px);
}

#noComments {
  color: var(--gray-color);
}

#commentsWrapper {
  margin-top: 2rem;
}

.comment,
.replyComment,
.commentHeader {
  display: flex;
  align-items: stretch;
}

.commentMain {
  width: 100%;
}

.commentLeft {
  width: 2.5rem;
  margin-right: 1rem;
}

.commentReplyTo {
  color: var(--gray-color);
}

.commentReplyToUser {
  color: var(--text-color-2);
}

.commentAuthor {
  font-weight: bold;
}

.commentDate {
  color: var(--gray-color);
}

.commentFooter {
  width: 100%;
  margin-bottom: 0.5rem;
}

.commentFooterTools {
  width: 100%;
  padding: 0.5rem;
  border-bottom: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.replyToComment {
  color: var(--text-color-2);
  cursor: pointer;
}

.commentLikesWrapper {
  width: max-content;
  height: 1rem;
  position: relative;
  display: flex;
}

.commentLikesWrapper p {
  margin-left: 2rem;
}

.like-icon {
  position: absolute;
  background: url("https://abs.twimg.com/a/1454637594/img/t1/web_heart_animation.png");
  background-position: 0px;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  transform: scale(0.75);
  top: -40px;
  left: -40px;
  pointer-events: none;
}
.toggleLike {
  opacity: 0;
  cursor: pointer;
  transform: scale(3);
  position: absolute;
}
.toggleLike:checked + .like-icon {
  animation: heart-animate 0.8s steps(28) forwards;
}
@keyframes heart-animate {
  100% {
    background-position: -2800px;
  }
}

/*Media Keyframes*/

@media only screen and (max-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
}

@media only screen and (max-width: 600px) {
  /*Big smartphones [426px -> 600px]*/
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
}

/*********************************
       :\     /;               _
      ;  \___/  ;             ; ;
     ,:-"'   `"-:.            / ;
    /,---.   ,---.\         _; /
   ((  |  ) (  |  ))    ,-""_,"
    \`````   `````/""""",-""
     '-.._ v _..-'      )
       / ___   ____,..  \
      / /   | |   | ( \. \
     / /    | |    | |  \ \
     `"     `"     `"    `"
*********************************/
