/*************************************************
Copyright © 2021 Ennio Marke
 ____    ____  ____  ____   ______   _________  
|_   \  /   _||_  _||_  _|.' ____ \ |  _   _  | 
  |   \/   |    \ \  / /  | (___ \_||_/ | | \_| 
  | |\  /| |     \ \/ /    _.____`.     | |     
 _| |_\/_| |_    _|  |_   | \____) |   _| |_    
|_____||_____|  |______|   \______.'  |_____| 
STEEL GRAY
Dark shades
Use as the text color for dark-on-light designs, or as the background for inverted designs.
#221B2F


JAGGED ICE
Light shades
Use this color as the background for your dark-on-light designs, or the text color of an inverted design.
#CDE3EE

JAFFA
Dark accent
Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best.
#EE944D


PINK SALMON
Light accent
Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette.
#FF8AB1


CORNFLOWER
Main brand color
This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
#8EB7E6
*************************************************/

:root {
  --bg-color: #cde3ee;
  --text-color: #221b2f;
  --heading-color: #8eb7e6;
  --text-color-2: #ff8ab1;
}

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans",
    "-apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji";
}

body {
  overflow-y: scroll;
  background: var(--bg-color);
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  max-width: 800px;
  height: 100vh;
}

a {
  position: relative;
  color: var(--heading-color);
  text-decoration: none;
}

.tox-tinymce {
  height: 85vh !important;
}

#heading {
  color: var(--heading-color);
  font-size: 2.5rem;
}

#header {
  position: relative;
  top: 0;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*********************************
       :\     /;               _
      ;  \___/  ;             ; ;
     ,:-"'   `"-:.            / ;
    /,---.   ,---.\         _; /
   ((  |  ) (  |  ))    ,-""_,"
    \`````   `````/""""",-""
     '-.._ v _..-'      )
       / ___   ____,..  \
      / /   | |   | ( \. \
     / /    | |    | |  \ \
     `"     `"     `"    `"
*********************************/
